.modalContainer {
  height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  /* pointer event to none as t avoid conflicts b/w onmousehover effect and mousemove gsap   */
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: #455ce9;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cursorLabel {
  background-color: transparent;
}
