.main {
  width: 80%;
  /* border: 2px solid red; */
  /* text-align: center; */
}
.main h1 {
  margin: 5rem 0;
  color: white;
}
.gsap {
  display: flex;
  align-items: center;
  text-align: center;
}
.gsap svg {
  margin-left: 50px;
  font-size: 2rem;
  color: white;
  padding: 0.6rem;
}

.gsap svg:hover {
  color: orangered;
}

.framerMotion {
  display: flex;
  align-items: center;
  text-align: center;
}
.framerMotion svg {
  margin-left: 50px;
  color: white;
  padding: 0.6rem;
  font-size: 2rem;
}
.framerMotion svg:hover {
  color: orangered;
}
