.main {
  height: 100vh;

  .text {
    background-color: #cccccc;
    width: 300px;
    height: 400px;
    // margin: 5rem auto;
    position: absolute;
    left: 25rem;
    // z-index: 3;
    top: 5rem;

    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }

  .scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: aqua;

    .bg {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: black;
    }
  }
}
