.menu {
  position: fixed;
  right: 0;
  height: 100vh;
  // width: 37.5vw;
  background-color: #1c1d20;
  color: white;
  font-family: sans-serif;
  top: 0;

  .body {
    padding: 100px;
    padding-left: 110px;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      margin-top: 17px;
      width: 90%;
      // border: 2px solid red;
      min-height: 63vh;

      .header {
        // font-size: 0.3em;
        color: #ffffff;

        // font-family: 'Dennis Sans', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 1.065;
        margin-bottom: 28px;
        // border: 2px solid red;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        opacity: 0.5;

        .stripe {
          display: block;
          width: 100%;
          margin-top: 2.3rem;
          height: 1px;
          background-color: white;
          opacity: 0.5;
        }
      }

      a {
        text-decoration: none;
        // use font family here by denis
        color: white;
        min-width: 1em;
        font-weight: 450;
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;

      gap: 18px;
      // font-size: 12px;

      .footHeader {
        color: #ffffff;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 1.065;
        // margin-bottom: 28px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        opacity: 0.5;
      }
      .links {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        font-size: 17px;
      }
    }
  }
}
